In [2]:
%cd D:\SLIIT\3rd year 2nd sem\Machine Learning amd Optimization Methods\Lectures

D:\SLIIT\3rd year 2nd sem\Machine Learning amd Optimization Methods\Lectures

In [3]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC,SVR
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,mean_squared_error
from sklearn.metrics import roc_curve,roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv("D:\\SLIIT\\3rd year 2nd sem\\Machine Learning amd Optimization Methods\\Lectures\\Boston.csv")
data.head()

,crim,zn,indus,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [5]:
x = data.iloc[:,:12]
y = data.iloc[:,12]

In [6]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [7]:
svrg = SVR(kernel="linear",C=1)

In [8]:
svrg.fit(x_train,y_train)

SVR(C=1, kernel='linear')

In [9]:
y_pred = svrg.predict(x_test)
mean_squared_error(y_test,y_pred)

40.01216897155128

In [10]:
np.sqrt(mean_squared_error(y_test,y_pred))

6.325517288850872